body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    color: darkcyan;
}

main {
    display: flex;
    justify-content: center;
    gap: 80px;
}

main>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    padding: 0 30px;
    background-color: #BEEAD2;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin-bottom: 100px;
}

main>div>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 18px;
}

main>div>div>span>input {
    width: 70%;
    height: 20px;
    padding: 8px;
    border: 0;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: #006400;
    background-color: #D1F1DC;
    font-size: 16px;
    margin-right: 10px;
}

main>div>div>span>input:focus-visible {
    outline: 0;
}

.thermometer {
    display: block;
    position: relative;
    height: 300px;
}

.bulb {
    display: inline-block;
    border: 2px solid #222;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid #fff;
    box-shadow: 0px 0px 0px 2px #fff inset;
    background: red;
}

.stem {
    display: inline-block;
    border: 2px solid #222;
    width: 12px;
    height: 280px;
    border-radius: 0px 0px 20px 20px;
    border-top: 2px solid transparent;
    position: absolute;
    bottom: 18px;
    left: 4px;
    box-shadow: 0px 0px 0px 2px #fff inset;
    transform: rotate(180deg);
    z-index: 10;
    padding-bottom: 3px;
}

.stem-perct {
    height: 0%;
    width: 8px;
    background: red;
    display: block;
    margin: 0px auto;
    border-radius: 10px;

}

.marker {
    position: absolute;
    width: 100%;
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
    color: #000;
    z-index: 20;
    right: -14px;
    transform: rotate(180deg);
}

.bulb:after {
    content: '';
    height: 10px;
    width: 8px;
    background: inherit;
    position: absolute;
    left: 6px;
    bottom: 13px;
    z-index: 12;
}